.cab { 
    background-image: url("imagenes/Fondo_header.jpg");
    background-size: 100%, 50%;
    width: 100%;
    height: 140px;
    position: fixed;
    top:0;
    right:0;
    margin-left: 150px;
}
#en {
    margin-right: 126px;
    text-align: center;
    line-height: 50%;
    color:rgb(3, 6, 100);
}
#diw {
    width:162px;
    height:140px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}
#esp {
    float: right;
    width:126px;
    height: 61px;
}
#icoIdiomas {
    width: 25px;
    height: 25px;
}
p {
    float: right;
    font-family: "Arial Black";
}
